@import "/css/global.css";

.quiz-question {
    padding: 50px;
    margin: 10px auto;
}

.question {
    padding: 10px;
    text-align: center;
    margin: 0;
}



/* Button */

button {
    background-color: #55b50b;
    border: none;
    color: #fff;
    display:block;
    width: 100%;
    cursor: pointer;
    font-size: medium;
    font-family: inherit;
    padding: 5px;
}

button:hover {
    background-color: #2d915f;
}

button:focus {
    background-color: #046155;
}


/* tags */

.container-tags {
    margin: 10px auto;
    padding: 20px;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    list-style: none;
    padding-left: 0;
}

.tags__items {
    padding: 10px;
    background-color: #55565a;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    box-shadow:rgba(228, 225, 225, 1.5);
}

.card-bookmark {
    width: 90%;
    max-width: 50px;
    position: absolute;
    right: 10px;
    top: -10px;
}

  .card-bookmark:active {
    content: url(/images/ribbon-green-com.png);

  }

