@import "/css/global.css";


  .container {
    position: relative;
    top: 80px;
    width: 400px;
    height: 500px;
    background-color: #779795;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  }
  
  
  div.middle{
    position:relative;
    text-align: center;
    top: 80px;
  }
  
  img.user-pic{
    width:120px;
    height: 120px;
    border-radius: 100%;
    background: rgba(255,255,255,0.7);
    border: 5px solid rgba(255,255,255,1);
  }
  
  h1.name{
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    padding: 10px;
  }

  
  div.status{
    position: relative;
    background: rgba(255,255,255,1);
    top:110px;
    height:200px;
    text-align: center;
  }
  
  .btn-create
  {
    position: relative;
    padding: 15px 70px;
    top: -22px;
    background: rgba(255,255,255,1);
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #55b50b;
    box-shadow: 0px 5px 45px rgba(14, 249, 73, 0.4);
    border: 1px solid transparent;
    transition: all 0.5s ease-in;
  }
  
  .btn-create:hover
  {
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgb(12, 214, 63);
    color: rgba(255,255,255,1);
    box-shadow: 0px 5px 45px rgba(101, 245, 5, 0.997);
  }
  
  .profile-status{
    font-size: 15px;
    color: rgb(2, 59, 12);
  }
 
 .bookmark-icon {
  position: relative;
  width: 40px;
  width: 50px;
	height: 50px;
	line-height: 40px;
 }
